<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div>{{blogPost.blogTitle}}</div>
<span><strong>Create By </strong>{{blogPost.postedBy.username}}</span>
<span><strong>On </strong>{{blogPost.postedOn | date:'medium'}}</span>
</div>
<div class="panel-body">
{{blogPost.description}}</div></div></div></div>

<form>
<input type="radio" ng-model="blogPost.approved" value="true">Approve
<input type="radio" ng-model="blogPost.approved" value="false">Reject<br>
<input type="submit" ng-click="updateBlogPost()">
</form>